body,html{
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,15,159,1) 37%, rgba(0,212,255,1) 100%);

}
.grid-container{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    width: 512px;
    height: 512px;

}
button{
    height: 40px;
    width: 80px;
    border-radius: 30px;
    background-color: rgb(22, 48, 97);
    color:coral;
}
button:hover{
    background-color:rgb(121, 118, 30);
    color:rgb(40, 71, 127)
}
.grid-square{
    background-color: white;
    /* border: 1px dotted rgb(220, 114, 114); */

}

